input#form1 {
    width: 200px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
}
.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }